@model reserva
@{
    ViewData["Title"] = "Mantener Reserva";
}  

<br><br><br>
<div class="row">    
    <div class="col-md-7">
        Usuario: <input type="text" value="Mauricio Arizaca Soto">
    </div>
    <div class="col-md-3">
       Fecha de Creación:<input type="date">
    </div>
    <div class="col-md-2">
        <a href="Login">Cerrar Sesión</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><br>
        <h1 style="text-align:center"><u>Mantener Reserva</u></h2>
        
    </div>
</div>
<div  class=" borde row">
   
    <div class="col-md-12">
       
            <div>
                <h3>Buscar Reserva (Cod de libro) <input type="text"><br> <input type="button" class="btn btn-primary btn-sm"  value="Buscar Reserva" /></h3> 
                    
            </div><br>

           
    </div>
</div>   
<div class="row">
    <div class="col-md-12">
      <table style="width:100%">
          <tr>
              <th>Codigo de Reserva</th>
              <th>Codigo de Libro</th>
              <th>Codigo de Alumno</th>
              <th>Modalidad</th>
              <th>Fecha de Realizacion</th>
              <th>Fecha de Reserva</th>
              <th>Estado</th>
          </tr>
          <tr>
              <td>123</td>
              <td>00003</td>
              <td>2015146360</td>
              <td>Hogar</td>
              <td>7 oct 2018</td>
              <td>24 oct 2018</td>
              <td>Pendiente</td>
              <td>
                 <a class="btn btn-primary btn-sm">Modificar</a>    
               </td>
          </tr>
          <tr>
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr></tr>
      </table>
    </div>

</div><br>

<div class="row">
    <div class="col-md-7">
    </div>
    <div style="text-align:right" class="col-md-5">
       <a  class="btn btn-primary btn-sm" href="Menu_Bib">Regresar</a>
       <button type="button"class="btn btn-primary btn-sm">Guardar</button>
    </div>
</div>